<div class="container d-flex justify-content-center align-items-center" style="min-height: 70vh;">

  <form class="shadow p-4 " [formGroup]="fg">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">

      <input type="username" class="form-control" id="floatingInput" placeholder="name@example.com"
        formControlName="username">
      <label for="floatingInput">username address</label>
      <div class="text-danger form-text"   *ngIf="usernameTouched && usernameRequired">Required Field!</div>
      <div class="text-danger form-text"   *ngIf="usernameTouched && !usernameRequired &&!usernameValid">At least 4 Characters!</div>
      <div class="text-success form-text" *ngIf="!usernameRequired && usernameValid">Looks Good!</div>
    </div>
    <div class="form-floating mt-2">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
        formControlName="password">
      <label for="floatingPassword">Password</label>
      <div class="text-danger form-text" *ngIf="passTouched && passRequired">Required Field!</div>
      <div class="text-danger form-text" *ngIf="passTouched && !passRequired && !passValid">Must contain Upper, Lower, Unalphabetic letters !</div>
      <div class="text-success form-text" *ngIf="!passRequired && passValid">Looks Good!</div>
    </div>

    <div class="form-check text-start my-3">
      <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault"  style="cursor: pointer">
        Remember me
      </label>
    </div>

    <div class="form-floating mt-2 mb-3" style="cursor: pointer;">
      Don't have an account, <a [routerLink]="['/register']"><strong>Register</strong></a>
    </div>

    <div class="text-danger form-text mt-2 mb-2" *ngIf="!this.IsFormValid.value">Invalid Data Inputs!</div>

    <button class="btn btn-dark text-white w-100 py-3" (click)="OnSubmit($event)" type="submit"><i
        class="bi bi-check-circle-fill"> Submit</i></button>
  </form>

</div>


