button{
    border-radius: 0px;
  }
  
  form{
    width: 30rem;
  }
  body{
    background-color:  rgb(150, 102, 102) !important;
  }
  
  div{
    margin-top: 4px;
  }
  
  input{
    margin-top: 1rem;
  }
