<footer class="py-1 bg-black text-light m-0 container-fluid">
  <div class="row mt-3">
    <div class="col-6 col-md-4 p-3 col-sm-6">
      <h5>Contact Us</h5>
      <ul class="nav flex-column">
        <li class="nav-item "><a href="mailto:WebStore@gmail.com"
            class="nav-link p-0 text-light text-decoration-underline Footer">WebStore@gmail.com</a></li>
        <li class="nav-item mb-2"><a href="tel:+201555424873"
            class="nav-link p-0 text-light text-decoration-underline Footer">+20(1060XXXXXX)</a></li>
        <li class="nav-item text-light p-o">O1 Mall, Al Minya</li>
        <li class="nav-item mb-2 text-light">Sun- Sat: 11 am - 12 am (GMT+2)</li>
        <li class="nav-item mb-2 text-light mt-1">VAT registration number: 540 - 407 - 968</li>
      </ul>
    </div>

    <div class="col-6 col-md-4 p-3 col-sm-6">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a routerLink="/home" class="nav-link p-0 text-light Footers">Home</a></li>
        <li class="nav-item mb-2"><a routerLink="/AboutUs" class="nav-link p-0 text-light Footers">Blog</a></li>
        <li class="nav-item mb-2"><a routerLink="/products" class="nav-link p-0 text-light Footers">Products</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light Footers">FAQs</a></li>
        <li class="nav-item mb-2"><a routerLink="/contactUs" class="nav-link p-0 text-light Footers">Contact Us</a></li>
      </ul>
    </div>

    <div class="col-lg-4 col-md-4 p-3 col-sm-12 justify-content-between">
      <h5>Order Tracking & Schedule Delivery</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2 text-light p-0">Find out when your order will be</li>
        <li class="nav-item mb-2 text-light p-0">delivered or schedule delivery</li>
        <li class="nav-item mb-2 text-light p-0">through your Account.</li>
        <li class="nav-item mb-2"><a routerLink="/login"
            class="nav-link p-0 text-light text-decoration-underline Footers">Sign In</a></li>
      </ul>
    </div>
  </div>

  <div class="row border-top mb-0">

    <div class="col-lg-6 col-sm-12 pt-4 justify-content-center">
      <p>© 2023 WebStore, Inc. All rights reserved.</p>

    </div>
    <div class="col-lg-6 col-sm-12">



      <ul class="wrapper p-0 w-100 justify-content-center">
        <li class="icon facebook">
          <span class="tooltip">Facebook</span>
          <span><i class="bi bi-facebook"></i>
          </span>
        </li>
        <li class="icon twitter">
          <span class="tooltip">Twitter</span>
          <span><i class="bi bi-twitter-x"></i></span>
        </li>
        <li class="icon instagram">
          <span class="tooltip">Instagram</span>
          <span><i class="bi bi-instagram"></i></span>
        </li>
        <li class="icon github">
          <span class="tooltip">Github</span>
          <span><i class="bi bi-github"></i></span>
        </li>
        <li class="icon youtube">
          <span class="tooltip">Youtube</span>
          <span><i class="bi bi-youtube"></i></span>
        </li>
      </ul>

    </div>
  </div>
</footer>
