
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.container {
  max-width: 1600px;
  padding:  15px;
  margin: 0 auto;
}

h2 {
  font-size: 32px;
  margin-bottom: 1em;
}

.cards {
  display: grid;
  grid-auto-columns: 100%;
  grid-column-gap: 10px;
  grid-auto-flow: column;
  padding: 10px 0px;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background: var(--white);
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.2s;
}

.card .card-title {
  font-size: 20px;
}

.card .card-content {
  margin: 0px 0;
  max-width: 70%;
  
}

.card .card-link-wrapper {
  margin-top: auto;
}

.card .card-link {
  display: inline-block;
  text-decoration: none;
  color: white;
  background: var(--orange);
  padding: 6px 12px;
  border-radius: 8px;
  transition: background 0.2s;
}

.card:hover .card-link {
  background: var(--darkorange);
}

.cards::-webkit-scrollbar {
  height: 12px;
  color: blue;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
  border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
  background: black;
}

.cards::-webkit-scrollbar-track {
  background: var(--thumb);
}

@media (min-width: 500px) {
  .cards {
    grid-auto-columns: calc(50% - 10px);
    grid-column-gap: 20px;
  }
}

@media (min-width: 700px) {
  .cards {
    grid-auto-columns: calc(calc(100% / 3) - 20px);
    grid-column-gap: 30px;
  }
}

@media (min-width: 1100px) {
  .cards {
    grid-auto-columns: calc(25% - 30px);
    grid-column-gap: 40px;
  }
}

/* FOOTER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  position: fixed;
  right: 0;
  bottom: 50px;
  display: flex;
  align-items: center;
  padding: 5px;
  z-index: 1;
  color: #2b2d42;
  background-color: #dd7d25;
}

.page-footer a {
  display: flex;
  margin-left: 4px;
  color: #2b2d42;

  background-color: #dd7d25;
}

.card:hover {
  color: var(--white);
  background: var(--orange);
}
.card .card-content img {
  width: 150%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
}
.card .cart-footer{
  width: 100% !important;
}
img {
  transition: transform 0.3s ease-in-out;
}

img:hover {
  transform: scale(1.1);
  transition-delay: 0.01s; /* Add the desired delay value here */
}

img:not(:hover) {
  transform: scale(1);
  transition-delay: 0.1s; /* Add the same delay value as in the hover selector */
}
.card-footer{
  background-color: #ffffff !important;
}
