.Headers:hover {
  color: #aba2fd !important;
  font-weight: bold;
}

.cart{
  margin-left: 1em;
}
nav i:hover{
  color: #aba2fd !important;
}
.user{
  margin-left: 1em;
  margin-right: 1em;
}
i{
  color: black !important;
  font-size:20px ;
}
.upper-nav{
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background-color: black;
  color: white;
}
nav{
  padding: 0;
}
.navbar .logo{
  padding: 0 20px;
}
.upper-nav p{
  margin: 0;
  padding: 0;
}
.lower-nav{
  padding: 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
}
.lower-nav-child{
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
}

.PicksLink{
  font-weight: bold !important;
}
.PicksLink:hover {
  font-size: 1.1em;
  font-weight: bold;
}

.Header{
  box-shadow: 0px 5px 20px 5px rgba(255, 255, 255, .7);
}

.FullName{
  font-weight: bold;
}


h6{
  cursor:grab;
}

div ul li a{
  cursor: pointer;
}


.banner{
  background-color: #151617;
}

/* Common styles for both desktop and responsive views */

.Header {
  box-shadow: 0px 5px 20px 5px rgba(255, 255, 255, .7);
}

.Headers:hover {
  color: #aba2fd !important;
  font-weight: bold;
}

nav i:hover {
  color: #aba2fd !important;
}

i {
  color: black !important;
  font-size: 20px;
}

.upper-nav {
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background-color: black;
  color: white;
}

nav {
  padding: 0;
}

.navbar .logo {
  padding: 0 20px;
}

.upper-nav p {
  margin: 0;
  padding: 0;
}

.lower-nav {
  padding: 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
}

.lower-nav-child {
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
}

.PicksLink {
  font-weight: bold !important;
}

.PicksLink:hover {
  font-size: 1.1em;
  font-weight: bold;
}

.FullName {
  font-weight: bold;
}

h6 {
  cursor: grab;
}

div ul li a {
  cursor: pointer;
}

.banner {
  background-color: #151617;
}

/* Responsive styles for mobile and iPad */

@media screen and (max-width: 991px) {
  .navbar {
    background-color: #fff;
    box-shadow: 0px 5px 20px 5px rgba(255, 255, 255, 0.7);
  }

  .navbar-toggler {
    color: #000;
  }

  .navbar-brand {
    color: #000;
  }

  .navbar-nav {
    margin-top: 1em;
  }

  .nav-link {
    color: #000 !important;
  }

  .navbar-collapse {
    background-color: #fff;
  }

  .lower-nav {
    flex-direction: column;
    
  }

  .lower-nav-child {
    margin-top: 0.5em;
  }
}
