<div class="container-fluid row d-flex mt-2 mb-5">


  <div class="col-12 col-md-5 d-flex justify-content-md-start justify-content-center">
    <app-profile></app-profile>
  </div>

  <div class="col-12 col-md-7 d-flex  align-items-center justify-content-center">

    <form class="shadow  w-100" [formGroup]="fg" >
      <div class="display-5 m-3 text-center">Change Password</div>
      <div class=" mb-sm-5 bg-light coolinput mx-5 mt-2 ">

        <div class="form-floating m-3">
          <input type="password" class="form-control" id="oldPasswordInput" placeholder="Password"
            formControlName="oldpassword">
          <label for="oldPasswordInput">Old Password</label>
          <div class="text-danger form-text" *ngIf="oldpassTouched && oldpassRequired">Required Field!</div>
          <div class="text-danger form-text" *ngIf="oldpassTouched && !oldpassRequired && !oldpassValid">At least 8
            Digits!</div>
          <div class="text-success form-text" *ngIf="!oldpassRequired && oldpassValid">Looks Good!</div>
        </div>

        <div class="form-floating m-3">
          <input type="password" class="form-control" id="newPasswordInput" placeholder="Password"
            formControlName="newpassword">
          <label for="newPasswordInput">New Password</label>
          <div class="text-danger form-text" *ngIf="newpassTouched && newpassRequired">Required Field!</div>
          <div class="text-danger form-text" *ngIf="newpassTouched && !newpassRequired && !newpassValid">At least 8
            Digits!</div>
          <div class="text-success form-text" *ngIf="!newpassRequired && newpassValid">Looks Good!</div>
        </div>

        <div class="form-floating m-3">
          <input type="password" class="form-control" id="Confirm Password" placeholder="Confirm Password"
            formControlName="confirmPassword">
          <label for="Confirm Password">Confirm Password</label>
          <div class="text-danger form-text" *ngIf="confirmPasswordTouched && confirmPasswordRequired">Required Field!
          </div>
          <div class="text-danger form-text"
            *ngIf="confirmPasswordTouched && !confirmPasswordRequired && !confirmPasswordValid">At least 8 Digits!</div>
          <div class="text-danger form-text" *ngIf="IsMatchedPass | async">Not Matched Pass!</div>
        </div>

        <button class="btn btn-dark text-white w-100 py-3 mt-4" type="submit" (click)="onSubmit($event)">Add</button>

      </div>
    </form>
  </div>
</div>
