<div class="container-fluid row d-flex mt-2 mb-5">

  <div class="col-12 col-md-5 d-flex justify-content-md-start justify-content-center">
    <app-profile></app-profile>
  </div>

  <div class="col-12 col-md-7 bg-light d-flex align-items-center justify-content-center">


    <div class="shadow p-1  w-100" style="min-height: 80dvh;">
      <div class="fs-2 text-center">Address</div>
      <br>
      <div class="text-center ">
        <button class="btn btn-dark  text-center w-50" [routerLink]="['add']">
          Add
        </button>
      </div>
      <div class="col-lg-8" class="m-3">



        <table class="table">
          <thead>
            <tr>

              <th scope="col">#</th>
              <th scope="col" class="w-75">Address</th>
              <th scope="col"></th>

            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let item of addresses; let i = index">
              <th scope="row">{{i + 1}}</th>
              <td>{{item.city}}</td>
              <td>
                <button class="btn btn-dark" (click)="DeleteAddress(item.id)">Remove</button>
              </td>
            </tr>

          </tbody>
        </table>












        <!-- Addresses OLD -->
        <!-- <div class="card my-3">
          <div class="card-header p-3">
            <strong>Default Address</strong>
          </div>
            <div class="card-body d-flex flex-row justify-content-between py-3 align-items-center p-3" >
              <div class="form-floating">
                <input type="text" class="form-control" id="address" placeholder="address" readonly>
                <label for="address">Address</label>
              </div>

              <div class="form-floating">
                <input type="text" class="form-control" id="phone" placeholder="phone" readonly>
                <label for="phone">Phone</label>
              </div>

              <div class="d-flex flex-row">
                <div class="m-1">
                  <button class="btn btn-dark ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                  </button>
                </div>

                <div class="m-1">
                  <button class="btn btn-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                      <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                  </button>

                </div>
              </div>


            </div>
        </div> -->
      </div>

    </div>

  </div>

</div>
