
<div class="section over-hide">
  <div class="container">
    <div class="row full-height justify-content-center">
      <div class="col-12 text-center align-self-center py-5">
        <div class="section text-center py-5 py-md-0">
          <input class="pricing" type="checkbox" id="pricing" name="pricing" />
          <label for="pricing" class=""><span class="block-diff">Mobiles  &nbsp; &nbsp; &nbsp; <span class="float-right m-3"> Laptops</span></span></label>
          <div class="card-3d-wrap mx-auto">
            <div class="card-3d-wrapper">
              <div class="card-front">
                <div class="pricing-wrap">
                  <h4 class="mb-5 mt-5">Mobile</h4>
                  <h2 class="mb-2">Get 10% Off</h2>
                  <p class="mb-4">Promo Code : Promo1</p>
                  <p class="mb-1"><i class="uil uil-location-pin-alt size-22"></i></p>
                  <p class="mb-4">In Our Mobiles Collections</p>
                  <a routerLink="/products" class="link">Shop Now</a>
                  <div class="img-wrap img-2">
                    <img src="https://img.freepik.com/free-photo/black-brick-wall-textured-background_53876-63572.jpg?w=900&t=st=1699311169~exp=1699311769~hmac=7ada702d29868afbbd6fd8f4575c01ff36aec264a7f5e8dfbd5290022df3d8f7" alt="">
                  </div>
                  <div class="img-wrap img-1">
                    <img  src="https://www.pngmart.com/files/15/Apple-iPhone-12-PNG-Transparent.png" alt="">
                  </div>
                  <div class="img-wrap img-6">
                    <img src="https://www.pngmart.com/files/15/Apple-iPhone-12-PNG-Photos.png" sytle="width=100px" alt="">
                  </div>
                </div>
              </div>
              <div class="card-back">
                <div class="pricing-wrap">
                  <h4 class="mb-5 mt-5">Laptop</h4>
                  <h2 class="mb-2">Get 15% Off</h2>
                  <p class="mb-4">Promo Code : Promo2</p>
                  <p class="mb-1"><i class="uil uil-location-pin-alt size-22"></i></p>
                  <p class="mb-4">In Our Laptops Collections</p>
                  <a routerLink="/products" class="link">Shop Now</a>
                  <div class="img-wrap img-2">
                    <img src="https://img.freepik.com/free-photo/black-brick-wall-textured-background_53876-63572.jpg?w=900&t=st=1699311169~exp=1699311769~hmac=7ada702d29868afbbd6fd8f4575c01ff36aec264a7f5e8dfbd5290022df3d8f7" alt="">
                  </div>
                  <div class="img-wrap img-4">
                    <img src="https://www.pngmart.com/files/1/Laptop-PNG-HD.png" alt="">
                  </div>
                  <div class="img-wrap img-7">
                    <img src="https://www.pngmart.com/files/1/Laptop-PNG-Pic.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
