
<div id="carouselExampleDark" class="carousel carousel-dark slide mt-4">

  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img  src="https://images.pexels.com/photos/1100447/pexels-photo-1100447.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="...">
      <div class="carousel-caption d-md-block" id="bannerCaption" >
        <h5 class="h1 text-light">Enrich Your Living </h5>
        <p class="h2 text-white">Shop Now To Get Good Offers.</p>
        <a class="btn btn-light mb-3 fs-5" routerLink="/products"> Shop Now</a>
      </div>
    </div>

</div>
